@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Fraunces:wght@700&display=swap");

body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-size: $text-default-font-size;
  font-family: $text-default-font-family;
  color: $text-default-color;
  background-color: $background-color;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}