$sm-device: 375px;
$md-device: 800px;
$lg-device: 1440px;

//## Colors
//### Primary
$color-primary-cyan: hsl(158, 36%, 37%); //Dark cyan
$color-primary-cream: hsl(30, 38%, 92%); // Cream
$background-color: $color-primary-cream;

//### Neutral
$color-primary-dark-blue: hsl(212, 21%, 14%); // Very dark blue
$color-primary-gray: hsl(228, 12%, 48%); // Dark grayish blue
$color-primary-white: hsl(0, 0%, 100%); // White

//##Typography
//### Headings
$text-heading-font-family: "Fraunces";
$text-color: $color-primary-gray;
$title-color: $color-primary-dark-blue;

//###Body
$text-default-font-family: "Montserrat";

$text-default-color: $text-color;
$text-default-font-size: 14px;

//Form
$color-btn-primary: $color-primary-cream;