<script setup>
import ProductCard from './ProductCard.vue';

</script>

<template>
  <main class="main">
    <ProductCard></ProductCard>  
  </main>  
  <footer class="attribution">
    Challenge by
    <a href="https://www.frontendmentor.io?ref=product-preview-card-component-GO7UmttRfa" target="_blank"
      >Frontend Mentor</a
    >. Coded by <a href="https://gitlab.com/vianhg">vianhg</a>.
  </footer>
</template>

<style lang="scss">
@import "./src/assets/css/tokens.scss";
@import "./src/assets/css/main.scss";
.main {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}
</style>
