<script setup></script>

<template>
  <article class="card">
    <div class="card--header">
      <picture>
        <source media="(min-width: 800px)" srcset="../assets/image-product-desktop.jpg">
        <img src="../assets/image-product-mobile.jpg" alt="Perfume" class="card--image">
      </picture>      
    </div>
    <div class="card--body">
      <h2 class="card--subtitle">Perfume</h2>
      <h1 class="card--title">Gabrielle Essence Eau De Parfum</h1>
      <p class="card--description">
        A floral, solar and voluptuous interpretation composed by Olivier Polge,
        Perfumer-Creator for the House of CHANEL.
      </p>
      <div class="price">
        <span class="price--new" aria-label="Price">$149.99</span>
        <del class="price--original" aria-label="Old price">$169.99</del>
      </div>
      <button class="card--cta">
        <img src="../assets/icon-cart.svg" alt="" class="card--cta--icon" /> Add to Cart
      </button>
    </div>
  </article>
</template>

<style scoped lang="scss">
$color-primary-cyan: hsl(158, 36%, 37%);
$text-default-font-family: "Montserrat";
$md-device: 800px;
$text-heading-font-family: "Fraunces";

.card {
  margin: 2em 1em;
  text-align: left;  

  &--image {
    display: block;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: calc(100vw - 2em);
  }
  &--body {
    background-color: white;
    padding: 2em;
    border-radius: 0 0 5px 5px;
  }
  &--subtitle {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: .1rem;
  }
  &--title {
    text-transform: capitalize;
    color: black;
    font-size: 2rem;
    font-family: $text-heading-font-family;
  }
  &--description {
    line-height: 1.5;
    margin-bottom: 2em;
  }
  &--cta {
    width: 100%;
    background-color: $color-primary-cyan;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 15px 32px;
    text-align: center;
    font-family: $text-default-font-family;

    &--icon {
      vertical-align: middle;
      margin-right: 1ex;
    }
  }
}
.price {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 15px;
  &--new {
    color: $color-primary-cyan;
    font-size: 2rem;
    font-family: $text-heading-font-family;
  }
}
@media screen and (min-width: $md-device) {
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;    
    max-width: 650px;
    margin: 0 auto;
    &--image {
      width: 100%;
      border-radius: 5px 0 0 5px;
    }
    &--body {
      border-radius: 0 5px 5px 0;
    }
    &--price {
      margin-bottom: 30px;
    }
  }
}
</style>
